
body {
height: 100vh;
width: 100vw;
margin: 0px;
}

header{
    grid-area: h;
    background-color: blueviolet;
    border-radius: 10px;
    font-size: 40px;
    padding: 10px
}
nav {
    grid-area: n;
    background-color: gray;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px
}
aside{
    grid-area: a;
    background-color: rgb(212, 107, 32);
    border-radius: 10px;
    font-size: 30px;
    padding: 10px
}
main {
    grid-area: m;
    background-color: rgb(24, 205, 218);
    border-radius: 10px;
    font-size: 30px;
    padding: 10px
    style=serif;overflow:auto
}
footer {
    grid-area: f;
    background-color: aquamarine;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px
}

#wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 10% 70% 10%;

    grid-template-areas:
    "h h"
    "n n"
    "a m"
    "f f";
}

img{
    height: 650px;
    width: 750px;
}   